#headerpart * {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box
}
#headerpart{
	z-index:99;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:#2b3137;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    background-color: #2b3137;
}

.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size:100%;
    color: #818181;
    display: table;
    transition: 0.3s;
    margin-left: 20px;
    font-family: Helvetica, Arial, Verdana, sans-serif;    
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav a.currentpage {
    color:darkorange
}
#mobileHeaderpart {
    width: 100%;
    background-color: #2b3137;
    top: 0;
    position: fixed;
    left: 0;
    z-index: 100;
    line-height: 1.4;
}

#mobileHeaderpart span {
    font-size: 30px;
    cursor: pointer;
}

#mobileHeaderpart img {
    padding-left: 20px;
}

#mobileHeaderpart:after {
    height: .125rem;
    background: -webkit-linear-gradient(left,#f7f406 24%,darkorange 60%);
    background: linear-gradient(90deg,#f7f406 24%,darkorange 60%); 
    content: "";
    display: block;
}

#mobileLogo{
    position: absolute;
    top: 5px;
    left: 40%;
    z-index: 6;
}
#mobileLogo img {
    max-width: 40%;
    padding-left: 0;
}
#mobileHeaderpart {display: none;}

#topnav{
	font-family: Helvetica,Arial,Verdana,sans-serif;
	max-height:50px;
	width:100%;
	overflow:visible;
	z-index:5;
	text-align:center
}
#topnav ul{
	list-style:none
}
#topnav a{
	padding:0 .55em;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box
}
#topnav a:visited{
	color:white;
	font-weight:700
}
#topnav li:hover>a{
	color:#fff;
	font-weight:700;
	border-bottom: 4px solid darkorange;
}
#topnav li>ul>li:hover>a {
	box-shadow: none;
	border-bottom: 4px solid transparent;
	color:darkorange;
}
#topnav>ul>li{
	display:block;
	float:left;
	font-size:14px;
	position:relative
}
#topnav>ul{
	margin:auto;
	padding:0;
	display:inline-block
}
#topnav ul{
	z-index:99
}
#topnav>ul li:hover>ul{
	display:block;
	margin-left: 0;
}
#topnav>ul>li>ul{
	position:absolute;
	top:100%;
	left:0;
	background:#3d4b4f;
	padding:0;
	width:100%;
	min-width:250px;
	display:none
}
#topnav>ul>li>ul>li, #topnav>ul>li>ul>li>ul>li{
	display:block;
	float:none;
	clear:left;
	width:100%;
	position:relative
}
#topnav>ul>li>ul>li a{
	padding:0 10px;
	width:100%;
	font-size:80%;
	text-align:left;
	line-height:3em
}
#topnav>ul>li>ul>li>ul, #topnav>ul>li>ul>li>ul>li>ul{
	position:absolute;
	top:0;
	left:100%;
	background:#3d4b4f;;
	padding:0;
	width:100%;
	min-width:250px;
	display:none
}
#topnav li a{
	float:left;
	display:block;
	color:white;
	text-decoration:none;
	text-align:center;
	line-height:50px;
	font-size:100%;
	font-weight:700;
	border-bottom: 4px solid transparent;
	max-height: 50px;
}
#topnav li a img{
	position:absolute;
	top:8px;
	left:0;
	float:left
}
#topnav li.currentpage > a{
	color:darkorange
}
#logo{
	position:absolute;
	top:5px;
	left:20px;
	z-index:6;
	width:118px;
	height:40px
}
#logo img {
    max-width: 100%;
}
#searchfixed{
	position:absolute;
	top:15px;
	right:20px;
	z-index:6;
	width:250px;
	height:40px;
	line-height:20px
}
#searchfixed form{
	margin:0
}
#searchwrapper{
	font: 13.3333px Arial;
	width:100%;
	position:relative
}
#search_field{
	margin-left:40px;
	height:20px;
	width:150px;
	border:none;
	background-color:#fcfcfc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:0 0 0 5px
}
#search_button{
	position:absolute;
	top:4px;
	right:15px
}

#topnav li>ul>li:hover>a {
	box-shadow: none;
	border-bottom: 4px solid transparent;
}

#topnav li#home-icon a {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: 40px;
	height: 50px;
	min-height: 50px;
	background: url("https://www.vogella.com/img/common/home_white.png") no-repeat center center;
	-webkit-background-size: 24px 24px;
	-moz-background-size: 24px 24px;
	-o-background-size: 24px 24px;
	background-size: 24px 24px;
}

#topnav li#home-icon.currentpage a {
	background: url("https://www.vogella.com/img/common/home_darkorange.png") no-repeat center center;
	-webkit-background-size: 24px 24px;
	-moz-background-size: 24px 24px;
	-o-background-size: 24px 24px;
	background-size: 24px 24px;
}

/*styling for desktops*/
@media only screen and (max-width: 611px){
    #headerpart{position:absolute; padding-top:0px}
    #topnav li a{line-height:29px}
    #topnav{height:auto!important;max-height:66px}
    #topnav ul{width:100%}
    #logo{display:none}
    #searchfixed{display:none;}
    #container,#trainingcontainer{margin:90px auto 0!important}
    .content-wrapper {margin-top: 60px;}
    #topnav>ul>li>ul>li a{display: none;}
    #topnav li#home-icon {display: block;margin-top:10px;}
    #banner-text {top: 95px;}
    #banner, #banner-triangle-up, #banner-triangle-down {top: 60px;}
}

@media only screen and (min-width: 612px) and (max-width: 1024px) {
    #header>h1:first-child {margin-top: 90px}
    #headerpart{position:fixed; padding-top:60px;}
    #topnav li a{line-height: 5px; padding-bottom: 15px;}
    #topnav{max-height:24px}
    #topnav ul{width:100%}
    #logo{left:10px}
    #container,#trainingcontainer{margin:101px auto 0!important}
    .content-wrapper {margin-top: 80px;}
    #topnav li#home-icon {display: none;}
    #banner-text {top: 106px;}
    #banner, #banner-triangle-up, #banner-triangle-down {top: 71px;}
}

/*styling for mobiles*/
@media only screen and (max-device-width: 1400px){
    #header>h1:first-child {margin-top: 50px}
    #headerpart{display: none}
    #mobileHeaderpart{display: block;}
    #container,#trainingcontainer{margin:60px auto 0!important}
    .content-wrapper {margin-top: 40px;}
    #banner {top: 40px;}
    #banner-text{padding-top: 1px;}
}
